/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  max-width: 700px;
  margin: 0 auto;
  font-family: var(--font-family);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;

}

.header {
  width: min(100%, 700px);
  margin: 100px 0;
  border: 2px var(--main-color) solid;
  padding: clamp(7.5rem, 7.324rem + 0.751vw, 8rem) 0;
  font-family: var(--font-family-accent);
  text-align: center;
  background-color: var(--bg-color);
}

.header__title {
  margin-bottom: 20px;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__description {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

.card {
  width: min(100%, 700px);
  margin-bottom: 50px;
  border: 2px var(--main-color) solid;
  font-size: 18px;
  background-color: var(--accent-color);

}

.card__title {
  padding: 3px 10px 5px;
  font-weight: 700;
  font-size: 18px;
  
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__description-text {
  line-height: 21px;
}

.card__image {
  max-width: min(100%, 700px);
  height: min(100vw, 700px);
  border-top: 2px var(--main-color) solid;
  border-bottom: 4px var(--main-color) solid;
  object-fit: cover;
  object-position: center;
}

.card__image-wrapper{
  position: relative;
  height: min(100vw, 700px);
}

.img__new_year_tree {
  filter: brightness(200%);
}

.img__tired_cat {
  filter: grayscale(70%);
}

.img__cookies {
  filter: contrast(140%);
}

.img__vibe {
  filter: saturate(150%);
}

.img__love {
  filter: sepia(50%);
}

.img__kursach {
  filter: blur(2px);
}

.img__scared_cat {
  filter: grayscale(70%);
}

.img__sunrise {
  filter: contrast(120%) brightness(160%);
}

.label {
  position: absolute;
  top: 25px;
  right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  opacity: 50%;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-shadow:
  -1px 0 var(--accent-color), 
  0 1px var(--accent-color), 
  1px 0 var(--accent-color), 
  0 -1px var(--accent-color);
  mix-blend-mode: hard-light;
}

.card__buttons {
  display: flex;
  justify-self: end;
  gap: 4px;
  max-height: 38px;
  margin: 0 25px 25px 0;
}

.card__like-button {
  position: relative;
  width: 130px;
  border: 2px var(--main-color) solid;
  padding: 9px 17px;
  background-color: transparent;

}

.card__icon-button {
  border: 2px transparent solid;
  padding: 0;
  background-color: transparent;
}

@supports((text-stroke: 1px var(--accent-color)) or (-webkit-text-stroke: 1px var(--main-color)000)) {
  label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--accent-color);
    text-stroke: 1px var(--accent-color);
  }
} 

.save-button {
  margin: 52px auto 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: var(--main-color) 2px solid;
  padding: 15px 20px;
  width: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  max-height: 84px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  font-size: 14px;
  mix-blend-mode: difference;
  text-wrap: nowrap;
}

.floppy {
  z-index: 1;
  min-width: 28px;
  height: 28px;
  color: var(--accent-color);
  mix-blend-mode: difference;
}

.floppy__dialog {
  min-width: 39px;
  min-height: 39px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 42px;
}

.dialog::backdrop {
  background-color: rgb(0, 0, 0, .75);
}

.dialog__title-text {
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__button {
  position: relative;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: var(--main-color) 2px solid;
  padding: 15px 18px;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  z-index: 0;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::after{
  inset: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px var(--main-color) solid;
  transition: border 0.3s ease;
}

.sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

@media (width > 375px) {
  .footer {
    margin: 50px auto 100px;
  }

  .save-button {
    flex-wrap: nowrap;
  }

  .floppy {
    min-width: 21px;
    height: 21px;
  }
}





