/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family: 'Inter-Variable', sans-serif;
    --font-family-accent: 'PressStart2P', fantasy;
    --font-variation-wght-card-description: 400;
    --font-variation-wght-card-title: 700;
    --main-color: #000;
    --bg-color: #FFF;
    --accent-color: #FFF;
    --animation-fill-color: #FF0000;
    --contour-color: #000;
    --bg-image: repeating-linear-gradient(
        to right, 
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
        ), 
        repeating-linear-gradient(
        to bottom, 
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
        ),
        linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a
        );
}
